<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <h1>
    Welcome to {{ title }}!
  </h1>
</mat-toolbar>
<mat-grid-list cols="1" rowHeight="2em">
  {{ desc }}
</mat-grid-list>
<mat-grid-list cols="2" rowHeight="4em">
    <mat-grid-tile>
      Your score: <span id="player-score" class="score">{{ scores[0] }}</span>
    </mat-grid-tile>
    <mat-grid-tile>
      Computer score: <span id="computer-score" class="score">{{ scores[1] }}</span>
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="1" rowHeight="7em">
  <mat-grid-tile>
    <div>{{ resultMsg }}</div>
  </mat-grid-tile>
  <mat-grid-tile>
    <h3>
      Select a weapon  
    </h3>
  </mat-grid-tile>
  <mat-grid-tile>
    <ul>
      <li (click)="chooseWeapon(0)">
        <fa name="hand-rock-o"></fa>
        <br>rock
      </li>
      <li (click)="chooseWeapon(1)">
        <fa name="hand-paper-o"></fa>
        <br>paper
      </li>
      <li (click)="chooseWeapon(2)">
        <fa name="hand-scissors-o"></fa>
        <br>scissors
      </li>
    </ul>
  </mat-grid-tile>
</mat-grid-list>

<router-outlet></router-outlet>
